{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scrollreveal="enter from the top over 1s but wait 0.7s">
        <h3 class="ca_heading" data-scrollreveal="enter from the top over 1s but wait 0.5s"> Professionalism</h3>
        <div class="ca_prof_wrap">
          <div class="ca_prof_inner percent pull-left">
            <div class="ca_prof_tb pull-left"> <img data-scrollreveal="enter from the top over 1s but wait 0.9s" src="http://via.placeholder.com/216x152" alt="about"/> </div>
            <div class="ca_prof_desc_wrap pull-left">
              <h4> Aenean et iaculis nulla </h4>
              <p> Praesent placeratet viverra bibendum, tellus ligula consat elit, ut pellentesque nisl eros et. Aliquam sodales sem vitae orci commodostie. </p>
              <a class="ca_read_more pull-left" href="#"> read more <i class="fa fa-arrow-right"></i></a> </div>
          </div>
          <div class="ca_prof_inner percent pull-left">
            <div class="ca_prof_tb pull-left"> <img data-scrollreveal="enter from the top over 1s but wait 0.9s" src="http://via.placeholder.com/216x152" alt="about"/> </div>
            <div class="ca_prof_desc_wrap pull-left">
              <h4> Aenean et iaculis nulla </h4>
              <p> Praesent placeratet viverra bibendum, tellus ligula consat elit, ut pellentesque nisl eros et. Aliquam sodales sem vitae orci commodostie. </p>
              <a class="ca_read_more pull-left" href="#"> read more <i class="fa fa-arrow-right"></i></a> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scrollreveal="enter from the top over 1s but wait 0.7s">
        <h3 class="ca_heading" data-scrollreveal="enter from the top over 1s but wait 0.5s"> Provide Offers</h3>
        <p> Nulla eu auctor tellus, vel vulputate urna. Mauris libero erat, bibendum ut gravida et, viverra et nisi. Suspendisse in dolor in quam bibendum lobortis. Nunc suscipit augue eu tortor malesuada semper. Vestibulum sollicitudin sollicitudin diam id ullamcorper. Morbi commodo lorem nec mollis convallis. Nanec consectetur velit, vel adipiscing arcu. Nam a arcu ac turpis tempor elementum eget a ante. Vivamus pretium blandit est, id bibendum erat molestie vitae. </p>
        <h4 class="ca_about_list_title"> Suspendisse gravida est vel justo bibendum, </h4>
        <ul class="about_list_item">
          <li> <a href=""> <i class="fa fa-angle-double-right"></i> Concept Bakers </a>
          <li>
          <li> <a href=""> <i class="fa fa-angle-double-right"></i> Internal Audit </a>
          <li>
          <li> <a href=""> <i class="fa fa-angle-double-right"></i> Statutory &amp; Tax Audits </a>
          <li>
          <li> <a href=""> <i class="fa fa-angle-double-right"></i> Forensic Accounting </a>
          <li>
          <li> <a href=""> <i class="fa fa-angle-double-right"></i> Valuation </a>
          <li>
          <li> <a href=""> <i class="fa fa-angle-double-right"></i> Tax Planning & Compliance </a>
          <li>
          <li> <a href=""> <i class="fa fa-angle-double-right"></i> Cost Accounting </a>
          <li>
          <li> <a href=""> <i class="fa fa-angle-double-right"></i> Corporate & Secretarial Compliance </a>
          <li>
          <li> <a href=""> <i class="fa fa-angle-double-right"></i> Book Keeping & MIS Reporting </a>
          <li>
          <li> <a href=""> <i class="fa fa-angle-double-right"></i> Project Financing </a>
          <li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock body %}