{% extends 'base.html' %}
{% block body %}

<!--page Heading End --> 
<!-- Container Start Here  -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ca_page_push_down"> 
      <!-- Sidebar Start -->
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"> 
        <!-- Search Start -->
        <div class="ca_Search" data-scrollreveal="enter from the top over 1s but wait 0.3s">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon"><i class="fa fa-search"></i></span> </div>
        </div>
        <!-- Search Start --> 
        <!-- Category Start -->
        <h3 class="ca_heading" data-scrollreveal="enter from the top over 1s but wait 0.4s">Category</h3>
        <div class="ca_category_list">
          <ul class="ca_category_item">
            <li> <a href="#"> <i class="fa fa-angle-double-right"></i> Concept Bakers™ </a>
            <li>
            <li> <a href="#"> <i class="fa fa-angle-double-right"></i> Internal Audit </a>
            <li>
            <li> <a href="#"><i class="fa fa-angle-double-right"></i> Statutory & Tax Audits </a>
            <li>
            <li> <a href="#"> <i class="fa fa-angle-double-right"></i> Forensic Accounting </a>
            <li>
            <li> <a href="#"><i class="fa fa-angle-double-right"></i> Valuation </a>
            <li>
            <li> <a href="#"><i class="fa fa-angle-double-right"></i> Tax Planning & Complian </a>
            <li>
          </ul>
        </div>
        <!-- Category End --> 
        
        <!-- calendar Start -->
        <div class="ca_date"><span id="date"></span>
          <p id="day"></p>
        </div>
        <div id="datepicker"></div>
        <!-- calendar end --> 
        
        <!-- Recent Post Start -->
        <h3 class="ca_heading" data-scrollreveal="enter from the top over 1s but wait 0.4s">Recent Post</h3>
        <div class="sidebar_recent_part">
          <div class="ca_blog_sidebar"> <img data-scrollreveal="enter from the left over 1s but wait 0.5s" src="http://via.placeholder.com/255x126" alt="Blog_thumb" data-sr-init="true" data-sr-complete="true"> </div>
          <h5> Proin eros ante, fringilla </h5>
          <p>Nulla vitae eros vitaos aliquam auctor.
            Donc tellus felis, </p>
        </div>
        <div class="sidebar_recent_part">
          <div class="ca_blog_sidebar"> <img data-scrollreveal="enter from the left over 1s but wait 0.5s" src="http://via.placeholder.com/255x126" alt="Blog_thumb" data-sr-init="true" data-sr-complete="true"> </div>
          <h5> Proin eros ante, fringilla </h5>
          <p>Nulla vitae eros vitaos aliquam auctor.
            Donc tellus felis, </p>
        </div>
        <!-- Recent Post End --> 
        <!-- Flicker Start -->
        <h3 class="ca_heading" data-scrollreveal="enter from the top over 1s but wait 0.5s">Flicker</h3>
        <div class="ca_sidebar_flicker">
          <ul>
            <li data-scrollreveal="enter from the top over 1s but wait 0.5s"><a href=""><img src="http://via.placeholder.com/70x70" alt="Flicker" /></a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.6s"><a href=""><img src="http://via.placeholder.com/70x70" alt="Flicker" /></a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.7s"><a href=""><img src="http://via.placeholder.com/70x70" alt="Flicker" /></a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.5s"><a href=""><img src="http://via.placeholder.com/70x70" alt="Flicker" /></a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.6s"><a href=""><img src="http://via.placeholder.com/70x70" alt="Flicker" /></a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.7s"><a href=""><img src="http://via.placeholder.com/70x70" alt="Flicker" /></a></li>
          </ul>
        </div>
        <!-- Flicker End --> 
        <!-- Tag Start -->
        <h3 class="ca_heading" data-scrollreveal="enter from the top over 1s but wait 0.5s">Tags</h3>
        <div class="ca_sidebar_tag">
          <ul>
            <li data-scrollreveal="enter from the top over 1s but wait 0.5s"><a href="">Imperdiet </a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.6s"><a href="">Placerat</a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.5s"><a href="">Sagittis</a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.6s"><a href="">Praesent feugiat</a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.5s"><a href="">Praesent </a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.6s"><a href="">Imperdiet Nisi</a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.5s"><a href="">Dapibus</a></li>
            <li data-scrollreveal="enter from the top over 1s but wait 0.6s"><a href="">Praesent feugiat</a></li>
          </ul>
        </div>
        <!-- Tag End --> 
      </div>
      <!-- Sidebar End -->
      
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="ca_blog_part">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="ca_meta_part pull-right" data-scrollreveal="enter from the top over 1s but wait 0.2s">
              <div class="ca_calendar_part"> <i class="fa fa-calendar"></i> <span class="ca_meta_date"> 02
                <span>feb</span>
                </span> </div>
              <div class="ca_calendar_part"> <i class="fa fa-comments-o"></i> <span class="ca_meta_comment"> 203</span> </div>
            </div>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="ca_cat_blog_tb ca_push_down_45" data-scrollreveal="enter from the left over 1s but wait 0.2s"> <img data-scrollreveal="enter from the left over 1s but wait 0.3s" src="http://via.placeholder.com/658x377" alt="Blog_image" data-sr-init="true" data-sr-complete="true"> </div>
            <h4 class="text-center" data-scrollreveal="enter from the left over 1s but wait 0.3s"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
            <div class="ca_cat_list ca_border-bottom ca_push_down_10" data-scrollreveal="enter from the left over 1s but wait 0.4s">
              <ul class="ca_cat_blog_list">
                <li> <i class="fa fa-user"></i> Glafira Lone
                </li>
                <li> <i class="fa fa-tags"></i>Praesent feugiat
                </li>
              </ul>
            </div>
            <p class="ca_cat_desc text-center" data-scrollreveal="enter from the left over 1s but wait 0.5s"> Nunc blandit quis tortor eget suscipit. Vivamus dignissim neque et mattis ornare. Praesent adipiscing quis purus at commodo. Praesent laoreet quis nisl fringilla elementum. Cras hendrerit nunc sed rutrum porttitor. Etiam lobortis magna vitae ultricies tincidunt.</p>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <button type="submit" class="btn btn-primary text-center">read more</button>
            </div>
          </div>
        </div>
        <div class="ca_blog_part">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="ca_meta_part pull-right" data-scrollreveal="enter from the top over 1s but wait 0.2s">
              <div class="ca_calendar_part"> <i class="fa fa-calendar"></i> <span class="ca_meta_date"> 05
                <span>mar</span>
                </span> </div>
              <div class="ca_calendar_part"> <i class="fa fa-comments-o"></i> <span class="ca_meta_comment"> 66</span> </div>
            </div>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="ca_cat_blog_tb ca_push_down_45" data-scrollreveal="enter from the left over 1s but wait 0.2s"> <img data-scrollreveal="enter from the left over 1s but wait 0.3s" src="http://via.placeholder.com/658x377" alt="Blog_image" data-sr-init="true" data-sr-complete="true"> </div>
            <h4 class="text-center" data-scrollreveal="enter from the left over 1s but wait 0.3s"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
            <div class="ca_cat_list ca_border-bottom ca_push_down_10" data-scrollreveal="enter from the left over 1s but wait 0.4s">
              <ul class="ca_cat_blog_list">
                <li> <i class="fa fa-user"></i> Glafira Lone
                </li>
                <li> <i class="fa fa-tags"></i>Praesent feugiat
                </li>
              </ul>
            </div>
            <p class="ca_cat_desc text-center" data-scrollreveal="enter from the left over 1s but wait 0.5s"> Nunc blandit quis tortor eget suscipit. Vivamus dignissim neque et mattis ornare. Praesent adipiscing quis purus at commodo. Praesent laoreet quis nisl fringilla elementum. Cras hendrerit nunc sed rutrum porttitor. Etiam lobortis magna vitae ultricies tincidunt.</p>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <button type="submit" class="btn btn-primary text-center">read more</button>
            </div>
          </div>
        </div>
        <div class="ca_blog_part">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="ca_meta_part pull-right" data-scrollreveal="enter from the top over 1s but wait 0.2s">
              <div class="ca_calendar_part"> <i class="fa fa-calendar"></i> <span class="ca_meta_date"> 23
                <span>April</span>
                </span> </div>
              <div class="ca_calendar_part"> <i class="fa fa-comments-o"></i> <span class="ca_meta_comment"> 104</span> </div>
            </div>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="ca_cat_blog_tb ca_push_down_45" data-scrollreveal="enter from the left over 1s but wait 0.2s"> <img data-scrollreveal="enter from the left over 1s but wait 0.3s" src="http://via.placeholder.com/658x377" alt="Blog_image" data-sr-init="true" data-sr-complete="true"> </div>
            <h4 class="text-center" data-scrollreveal="enter from the left over 1s but wait 0.3s"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
            <div class="ca_cat_list ca_border-bottom ca_push_down_10" data-scrollreveal="enter from the left over 1s but wait 0.4s">
              <ul class="ca_cat_blog_list">
                <li> <i class="fa fa-user"></i> Glafira Lone
                </li>
                <li> <i class="fa fa-tags"></i>Praesent feugiat
                </li>
              </ul>
            </div>
            <p class="ca_cat_desc text-center" data-scrollreveal="enter from the left over 1s but wait 0.5s"> Nunc blandit quis tortor eget suscipit. Vivamus dignissim neque et mattis ornare. Praesent adipiscing quis purus at commodo. Praesent laoreet quis nisl fringilla elementum. Cras hendrerit nunc sed rutrum porttitor. Etiam lobortis magna vitae ultricies tincidunt.</p>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <button type="submit" class="btn btn-primary text-center">read more</button>
            </div>
          </div>
        </div>
        <div class="ca_blog_part ca_hide_blog_cat">
          <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="ca_meta_part pull-right" data-scrollreveal="enter from the top over 1s but wait 0.2s">
              <div class="ca_calendar_part"> <i class="fa fa-calendar"></i> <span class="ca_meta_date"> 02
                <span>feb</span>
                </span> </div>
              <div class="ca_calendar_part"> <i class="fa fa-comments-o"></i> <span class="ca_meta_comment"> 203</span> </div>
            </div>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="ca_cat_blog_tb ca_push_down_45" data-scrollreveal="enter from the left over 1s but wait 0.2s"> <img data-scrollreveal="enter from the left over 1s but wait 0.3s" src="http://via.placeholder.com/658x377" alt="Blog_image" data-sr-init="true" data-sr-complete="true"> </div>
            <h4 class="text-center" data-scrollreveal="enter from the left over 1s but wait 0.3s"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
            <div class="ca_cat_list ca_border-bottom ca_push_down_10" data-scrollreveal="enter from the left over 1s but wait 0.4s">
              <ul class="ca_cat_blog_list">
                <li> <i class="fa fa-user"></i> Glafira Lone
                </li>
                <li> <i class="fa fa-tags"></i>Praesent feugiat
                </li>
              </ul>
            </div>
            <p class="ca_cat_desc text-center" data-scrollreveal="enter from the left over 1s but wait 0.5s"> Nunc blandit quis tortor eget suscipit. Vivamus dignissim neque et mattis ornare. Praesent adipiscing quis purus at commodo. Praesent laoreet quis nisl fringilla elementum. Cras hendrerit nunc sed rutrum porttitor. Etiam lobortis magna vitae ultricies tincidunt.</p>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <button type="submit" class="btn btn-primary text-center">read more</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-lg-offset-2">
            <div class="ca_read_more_blog_cat text-center"><a><img src="images/icon/read_more_loader.gif" alt="" /> Load More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}