{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ca_page_push_down">
      <div class="ca_map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.4872785362786!2d72.84226321443545!3d19.173908053871283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b7c1fc9d2ab5%3A0xbe5acda0041f0faf!2sRustomjee%20Eaze%20Zone%20Mall!5e0!3m2!1sen!2sin!4v1633254325077!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="ca_map_details">
        <div class="ca_detail_contant_part"> <span class="ca_contact_title">Alisha Dharsi and associates</span>
          <div class="ca_footer_address" data-scrollreveal="enter from the top over 1s but wait 0.5s"> <i class="fa fa-map-marker"></i> <span>1067, Rustomjee Eaze Zone, Vasari Hill Rd, Sunder Nagar, Malad West, Mumbai </span> </div>
          <div class="ca_footer_phone" data-scrollreveal="enter from the top over 1s but wait 0.7s"> <i class="fa fa-phone"></i> <span>+91 9876543210</span> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row ca_push_down_45">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h3 class="ca_heading" data-scrollreveal="enter from the top over 1s but wait 0.5s">Contact Area</h3>
          <div class="form-group">
            <input id="uname" type="email" class="form-control" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input id="uemail" type="email" class="form-control" placeholder="Your Email">
          </div>
          <div class="form-group">
            <textarea id="message" class="form-control" rows="5" placeholder="Your Message"></textarea>
          </div>
          <input type="button" id="em_sub" class="btn btn-primary" value="Send your Message">
          <p id="err"></p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h3 class="ca_heading" data-scrollreveal="enter from the top over 1s but wait 0.5s">Our Team</h3>
          <h4> Suspendisse gravida est vel justo bibendum, </h4>
          <p> Nulla eu auctor tellus, vel vulputate urna. Mauris libero erat, bibendum ut gravida et, viverra et nisi. Suspendisse in dolor in quam bibendum lobortis. Nunc suscipit augue eu tortor malesuada semper. Vestibulum sollicitudin sollicitudin diam id ullamcorper. Morbi commodo lorem nec mollis convallis. Nanec consectetur velit, vel adipiscing arcu. Nam a arcu ac turpis tempor elementum eget a ante. Vivamus pretium blandit est, id bibendum erat molestie vitae. </p>
          <p> Nulla eu auctor tellus, vel vulputate urna. Mauris libero erat, bibendum ut gravida et, viverra et nisi. Suspendisse in dolor in quam bibendum lobortis. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Container End Here --> 
<!--page Heading End --> 

{% endblock body %}