::selection {
	color: #FFF;
	background: #da566e;
}
a {
color: #da566e;
}
a:hover {
color: #da566e;
}
.carousel .carousel-caption h2{
color: #da566e;
}
#ca_header{
background: #8fba75;
}
.ca_menu ul li a:hover{
background: #e37b8d;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_our_capabilities #ca_our_capabilities_slider .ca_our_capabilities_slider_item .ca_capabilities_step .ca_capabilities_step_icon_border .ca_capabilities_step_icon{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_slider_sidebar .carousel-indicators .active{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_slider_sidebar .carousel-indicators .active:before{
border-right: 10px solid #da566e;
}
#style-switcher > div > h3{
color: #da566e !important;
}
ul.colors li{
border: 1px solid #da566e;
}
.ca_social ul li a:hover{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_menu ul li ul.sub-menu:before{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_theme_color{
color: #8fba75;
}
.ca_stap:hover{
border-top: 4px solid #da566e;
}
.ca_stap:hover > .ca_step_icon_border{
border-color: #da566e;
}
.ca_stap:hover > .ca_step_icon_border > .ca_step_icon{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_our_capabilities #ca_our_capabilities_slider .ca_our_capabilities_slider_item .ca_capabilities_step .ca_capabilities_step_icon_border{
border: 1px solid #da566e;
}
.ca_heading{
border-left: 2px solid #da566e;
}
.ca_heading:before{
background: #da566e;
}
.ca_testimonials #ca_testimonials_slider .ca_testimonials_slider_item .ca_testimonials_item:hover{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.customNavigation a:hover{
border-color: #da566e;
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_team #ca_team_slider .ca_team_slider_item .ca_team_item .ca_team_image_fix_overlay {
background: rgba(218, 86, 110, 0.3);
}
.checkbox > label::before{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_our_clients #ca_our_clients_slider .ca_our_clients_slider_item .ca_our_clients_item:hover{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_footer_tag ul li a:hover{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_footer_menu ul li a:hover{
color: #da566e;
}
.ca_footer_links ul li a i{
color: #da566e;
}
.input-group-addon{
border: 2px solid #e480a2;
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_search_form input{
border: 2px solid #da566e;
color:#da566e;
}
.form-control:hover, .form-control:focus{
border-color: #da566e;
}
.form-control:hover::-moz-placeholder {
 color: #da566e;
 opacity: 1;
}
.form-control:hover:-ms-input-placeholder {
 color: #da566e;
}
.form-control:hover::-webkit-input-placeholder {
 color: #da566e;
}
.ca_team_image_link ul li a:hover{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
ul.ca_breadcrum li.active a{
color: #da566e;
}
ul.ca_breadcrum li a:hover{
color: #da566e;
}
.ca_services_part:hover .ca_services_icon{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_services_part:hover .ca_services_icon_border{
border: 1px solid #da566e;
}
.ca_about_stap:hover{
border-left: 4px solid #da566e;
}
.ca_team_for_about #ca_team_for_about_slider .ca_team_for_about_slider_item .ca_team_item .ca_team_image_fix_overlay{
background: rgba(218, 86, 110, 0.3);
}
.ca_price_table .ca_table:hover .ca_table_footer a{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
ul.ca_category_item li a:hover{
color: #da566e;
}
.ca_client_part:hover{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_client_part:hover:before {
    border-right: 24px solid #df6d8b;
}
.ca_progress_icon svg{
fill: #da566e;
}
.ca_progress_icon svg circle{
fill: #da566e;
}
.ca_progress_icon svg path{
fill: #da566e;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
border-top: 1px outset #e480a2;
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_client_goal img:hover{
border: solid 2px #da566e;
}
.ca_date{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_date:before{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_date:after{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
#datepicker .ui-datepicker tr th{
color: #da566e;
}
#datepicker .ui-state-active{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
#datepicker .ui-state-default:hover{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_sidebar_tag ul li a:hover{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_category_comment:hover{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
ul.about_list_item li a:hover{
color: #da566e;
}
.ca_map_details{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.ca_map_details:after{
border-left: 24px solid #da566e;
}
.panel-heading.active{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.nav > li > a:hover, .nav > li > a:focus{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.scrollToTop:hover{
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}
.owl-nav > div:hover{
background: #da566e;
background: linear-gradient(#e480a2, #da566e);
background: -webkit-linear-gradient(#e480a2, #da566e);
background: -o-linear-gradient(#e480a2, #da566e);
background: -moz-linear-gradient(#e480a2, #da566e);
}

/*--- Responsive css start ---*/
@media (max-width: 767px) {
	.ca_menu ul li a{
		background: #e37b8d;
	}
	.ca_menu ul li a:hover{
		background: #29313c;
	}
	.ca_menu ul li ul.sub-menu li a{
		background: rgba(218, 86, 110, 0.6);
	}
	.ca_map_details:after{
		border-right: 24px solid #e480a2;
		border-left: none;
	}
}
/*--- Responsive css end ---*/